.faq {
  width: 60%;
  margin: auto;
  background-color: #eee;
  margin-bottom: 5px;
  padding: 15px;
}
.faq button {
  border: none;
}
.quuestion {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.open {
  border-top: 2px solid red;
}
